Solution/LojaVerity.UI/Service References/ProdutosServico/ProdutosServico2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicos.verity.com/1.0" elementFormDefault="qualified" targetNamespace="http://servicos.verity.com/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/LojaVerityServicos/ProdutosServico.svc?xsd=xsd2" namespace="http://servicos.verity.com/1.0/Entidades" />
  <xs:element name="BuscarProdutos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProdutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://servicos.verity.com/1.0/Entidades" minOccurs="0" name="BuscarProdutosResult" nillable="true" type="q1:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://servicos.verity.com/1.0/Entidades" minOccurs="0" name="BuscarProdutoResult" nillable="true" type="q2:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://servicos.verity.com/1.0/Entidades" minOccurs="0" name="produto" nillable="true" type="q3:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://servicos.verity.com/1.0/Entidades" minOccurs="0" name="CadastrarProdutoResult" nillable="true" type="q4:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>